.header {
  background-color: #333333;
  border-bottom: 0.2rem solid white;
}

.header__nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: inherit;
}

.header__link {
  padding: 0.5rem 1rem;
  
  font-weight: 700;
  color: var(--font-color);
  text-decoration: none;
  background-color: inherit;

  transition: 0.2s filter;
}

.header__link:hover {
  filter: brightness(1.2);
}
