.section {
  min-height: 100vh;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__img {
  width: 13rem;
  height: 13rem;
  border-radius: 50%;
  margin-bottom: 1.5rem;
  background-color: blueviolet;
}

.section__title {
  line-height: 1.15;
  font-size: 3.5rem;
}

.section__subtitle {
  text-align: center;
  font-size: 1.3rem;
  line-height: 1.5;
  margin-block-end: 1em;
  margin-block-start: 1em;
}

.section__folders {
  width: 50rem;
  margin-top: 1.5rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}

.section__folder {
  text-decoration: none;
  color: var(--font-color);

  cursor: pointer;
  margin: 1rem;
  padding: 1.5rem;
  border: 1px solid var(--font-color);
  border-radius: 10px;

  transition: all .3s ease;
}

.section__folder:hover {
  border-color: var(--font-color);
  background-color: var(--link-color-hover);
  box-shadow: .3rem .3rem .8rem 0px rgba(0,0,0,0.75);
}

.section__folder .folder__title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.section__folder .folder__subtitle {
  font-size: 1.25rem;
  line-height: 1.5;
}


@media only screen and (max-width: 900px) {
  .section {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .section__title {
    font-size: 2.8rem;
  }
  .section__subtitle {
    padding: 0 2rem;
    font-size: 1.3rem;
  }
  .section__folders {
    width: 100%;
    grid-template-columns: 1fr;
  }
  .section__img {
    width: 7rem;
    height: 7rem;
  }
}
  